.vertical-divider {
  width: 1px;
  height: 25px;
  background-color: #201d1d;
  display: inline-block;
  vertical-align: middle;
  margin: 0px 10px 0px 0px;
}

.progress-bar-section {
  display: flex;
  background-color: #f0f0f0;
  padding: 20px;
}
